{% extends "myapp/base.html" %}

{% block headerTitle %}商品確認{% endblock %}
{% block bodyTitle %}商品確認{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        {% for category, item in data.items %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ item.image_url }}" class="card-img-top" alt="{{ item.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ item.name }}</h5>
                    <p class="card-text">￥{{ item.price }}</p>
                    <a href="{{ item.url }}" class="btn btn-primary" target="_blank">Link</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mt-5 text-right">
        <p>総額：￥{{ total }}</p>
        <button type="submit" class="btn btn-primary">確認</button>
    </div>
</div>
{% endblock %}
