{% extends 'myapp/base.html' %}
{% block headTitle %}
{{headtitle}}
{% endblock %}


{% block header %}
<header class="bg-dark text-white text-center py-4 fixed-top">
    <h1>starter kit</h1>
</header>
{% endblock %}
{% block content %}
<div class="container py-5">
    <h1>{{title}}</h1>
    <p>select 3 items</p>
    <form id="myForm" method="post" action="{% url 'myapp:price_page' %}">{% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="{{btn}}" class="btn btn-primary">
                </td>
            </tr>
        </table>
</div>
    <script>
        var form = document.getElementById('myForm');
        var checkboxes = form.querySelectorAll('input[type="checkbox"]');

        form.addEventListener('submit', function (event) {
            var checkedCount = 0;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    checkedCount++;
                }
            }

            if (checkedCount !== 3) {
                alert('3つの選択肢を選択してください。');
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false;
                }
                event.preventDefault();  // フォームのデフォルトの送信を防止
            }
        });
    </script>
{% endblock %}
{% block footer %}
<footer class="bg-dark text-white text-center py-3 fixed-bottom">
    &copy; 2023 starter kit
</footer>
{% endblock %}