{% extends 'myapp/base.html' %}
{% block headTitle %}
{{headtitle}}
{% endblock %}


{% block header %}
<header class="bg-dark text-white text-center py-4 fixed-top">
    <h1>starter kit</h1>
</header>
{% endblock %}
{% block content %}
<div class="container py-5">
    <h1>{{title}}</h1>
    <p>select 3 items</p>
    <form method="post" action="{% url 'myapp:price_page' %}">{% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="{{btn}}" class="btn btn-primary">
                </td>
            </tr>
        </table>
</div>
{% endblock %}
{% block footer %}
<footer class="bg-dark text-white text-center py-3 fixed-bottom">
    &copy; 2023 starter kit
</footer>
{% endblock %}