{% extends 'myapp/base.html' %}
{% block headTitle %}{{headtitle}}{% endblock %}
{% block header %}
    <h1>select genre & budget!</h1>
{% endblock %}
{% block content %}
<div class="container py-5">
    <h1>{{title}}</h1>
    <form method="post" action="{% url 'myapp:view_page' %}">{% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="{{btn}}" class="btn btn-primary">
                </td>
            </tr>
        </table>
</div>
{% endblock %}
{% block footer %}
    <p>&copy; 2023 select genre & budget!</p>
{% endblock %}