<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Python Course</title>
</head>

<body>
    <h2>商品一覧</h2>
    <table>
        <thead>
            <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>リンク</th>
                <th>画像</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data.sentakuki %}
                {% if forloop.first %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>￥{{ item.price }}</td>
                    <td><a href="{{ item.url }}" target="_blank">Link</a></td>
                    <td><img src="{{ item.image_url }}" alt="{{ item.name }}"></td>
                </tr>
                {%endif %}
            {% endfor %}
        </tbody>
        <tbody>
            {% for item in data.reizouko %}
                {% if forloop.first %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>￥{{ item.price }}</td>
                    <td><a href="{{ item.url }}" target="_blank">Link</a></td>
                    <td><img src="{{ item.image_url }}" alt="{{ item.name }}"></td>
                </tr>
                {%endif %}
            {% endfor %}
        </tbody>
        <tbody>
            {% for item in data.denshi %}
                {% if forloop.first %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>￥{{ item.price }}</td>
                    <td><a href="{{ item.url }}" target="_blank">Link</a></td>
                    <td><img src="{{ item.image_url }}" alt="{{ item.name }}"></td>
                </tr>
                {%endif %}
            {% endfor %}
        </tbody>
    </table>
</body>

</html>